*.o
*.so
*.pyc
*.npz
*.npy
*.h5
*.mat
*.caffemodel
*.zip

linux_c\+\+_test/dbm_test/cmake-build-debug/

linux_c\+\+_test/gst_test/gst_test1/test2

linux_c\+\+_test/gst_test/gst_test1/test3

linux_c\+\+_test/gst_test/gst_test1/mp4_player

linux_c\+\+_test/gst_test/gst_test_clion/cmake-build-debug/

linux_c\+\+_test/gst_test/gst_udp_ogg_client/client

linux_c\+\+_test/gst_test/gst_udp_ogg_server/server

linux_c\+\+_test/gst_test/gst_video_player_cl/cmake-build-debug/

linux_c\+\+_test/gst_test/gst_video_player_cl_\.backup/cmake-build-debug/

linux_c\+\+_test/gst_test/gst_video_player_cl_\.backup/core

linux_c\+\+_test/make_test/make_example0/build/c_tool\.a

linux_c\+\+_test/make_test/make_example1/main

linux_c\+\+_test/pthread_test/ptread_test/cmake-build-debug/

linux_c\+\+_test/test_c\+\+/bin/Debug/test_c\+\+

linux_c\+\+_test/tty_test/TinyTerm/build/

linux_c\+\+_test/tty_test/TinyTerm/cmake-build-debug/

matlab_test/c\+\+_mat/cmake-build-debug/

matlab_test/test\.avi

matlab_test/test1\.avi

mysql_test/cmake-build-debug/

OGDF_test/gml2pic/gml2pic

opencv_test/cv_cb_mat_numpy/caffe

opencv_test/cv_test0/ColorBalance

opencv_test/cv_test0/main

python_c_test/c_call_python/callpy

python_c_test/test_c/cmake-build-debug/

QT_test/Qt4_test/example1/main

QT_test/Qt4_test/qt_test0/cmake-build-debug/

tensorflow_test/py_tensorflow_test/body/cifar10_train/

tensorflow_test/py_tensorflow_test/mnist/events\.out\.tfevents\.1513520477\.yz-sci

tensorflow_test/py_tensorflow_test/tf_test/graphs/

tensorflow_test/py_tensorflow_test/tf_test/linear_log/

caffe_test/py-faster-rcnn/data/faster_rcnn_models/ZF_faster_rcnn_final\.caffemodel

caffe_test/caffe_clion/cmake-build-debug/

caffe_test/fcn\.berkeleyvision\.org/data/sift-flow/Images/spatial_envelope_256x256_static_8outdoorcategories/

caffe_test/py-faster-rcnn/data/faster_rcnn_models\.tgz

hdf5_test/h5_test0/example

linux_c\+\+_test/gst_test/gst_online_mp3/receiver\.sh~

linux_c\+\+_test/gst_test/gst_online_mp3/sender\.sh~

linux_c\+\+_test/gst_test/gst_online_mp3/server\.sh~

linux_c\+\+_test/gst_test/gst_udp_ogg_client/Makefile~

linux_c\+\+_test/gst_test/gst_udp_ogg_client/Makefle~

linux_c\+\+_test/gst_test/gst_udp_ogg_server/Makefile~

linux_c\+\+_test/gst_test/gst_video_player_cl/core

linux_c\+\+_test/linux_c_test/\.atest

linux_c\+\+_test/linux_c_test/\.main

linux_c\+\+_test/linux_c_test/dir_search

linux_c\+\+_test/linux_c_test/main

linux_c\+\+_test/linux_c_test/Makefile~

QT_test/Qt4_test/gt_player/gt_player
